<a href="https://colab.research.google.com/github/Inventrohyder/NS166_final/blob/main/Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Authenticate the Google user
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

In [2]:
# Access the Google Sheet
worksheet = gc.open_by_key('1Ik1wZgqpTwPdoTVP0m_1WU4Gm2IFU43L9q7bnhXwnsc')
worksheet = worksheet.worksheet('NYST_Future')
data = worksheet.get_all_values()

In [3]:
# Transform the Google Sheet data to a Pandas DataFrame
import pandas as pd
import numpy as np
df = pd.DataFrame(data[1:], columns=data[0])

# Clean the data
df = df.replace('',np.nan)
df = df.replace('N/A', np.nan)
for column in df.columns:
  df[column] = df[column].astype('float64', errors='ignore')
df.head()

    ID        QUADNAME  ...  Future_precipit  Current_with_mink
0  1.0    ROUSES POINT  ...           970.60                0.0
1  2.0       CHAMPLAIN  ...           956.80                0.0
2  3.0          MOOERS  ...           959.10                1.0
3  4.0  RAQUETTE RIVER  ...          1024.65                0.0
4  5.0          ALTONA  ...           982.10                0.0

[5 rows x 9 columns]